.map {
	padding: 93px 0;

	&__iframe {
		@include size(100%, 580px);
		-webkit-box-shadow: 0px 6px 8px rgba(64, 64, 64, 0.25);
		        box-shadow: 0px 6px 8px rgba(64, 64, 64, 0.25);
	}

	@media (min-width: 992px) {
		padding: 95px 0;
	}
}
